body {
    height: 125vh;
    background-color: white;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
}

h1 {
    margin-top: 80px;
    text-align: center;
}

h2 {
	text-align: center;
}

header img {
    margin-left: 40px;
    height: 80px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header, footer {
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * , footer * {
    display: inline;
}

header ul , footer ul{
}

header li, footer li {
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin: 20px;
}

header li a, footer li a {
    color: black;
    text-decoration: none;
    padding: 9px;
}

footer li a:hover, header li a:hover{
    color: blue;
}

main {
    background: lightgray;
    padding-left: 50px;
}

 /* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

#fs-frm *{
    display: block;
}

#message {
    width: 50%;
    height: 50%;
}

/* Dont use this for now but keep this for later 
.contact-container {
    min-height: 100%;
    min-width: 100%;
    background: white;
    position: absolute;
    text-align: center;
    padding: 20px;
    margin-left: -70px; <!-- -20 for padding and -50 for main padding -->
}

*/
