body {
    height: 125vh;
    background-color: white;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
}

h1 {
    margin-top: 80px;
    text-align: center;
}

header img {
    margin-left: 40px;
    height: 80px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header, footer {
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * , footer * {
    display: inline;
}

header ul , footer ul{
}

header li, footer li {
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin: 20px;
}

header li a, footer li a {
    color: black;
    text-decoration: none;
    padding: 9px;
}

footer li a:hover, header li a:hover{
    color: blue;
}

main {
    background: lightgray;
    padding-left: 50px;
}

/* Dont use this for now but keep this for later 
.contact-container {
    min-height: 100%;
    min-width: 100%;
    background: white;
    position: absolute;
    text-align: center;
    padding: 20px;
    margin-left: -70px; <!-- -20 for padding and -50 for main padding -->
}

*/
